

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../images/p.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.words{
    text-align: center;
    padding: 50px; 
    margin: 50px;
}
.port{
    text-align: center;
    padding-bottom: 20px;
}
footer{

}
footer{
    background-color: green;
    
}