

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../images/p.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.words{
    text-align: center;
    padding: 50px; 
    margin: 50px;
    font-family: 'Sansita Swashed', cursive;
}
.port{
    text-align: center;
    padding-bottom: 20px;
}



footer{
    background-color:yellow;
    
}
.brenda{
margin-left: 300px;

}
#topps{
    text-align: center;
}
.epi {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.lil {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
   
    padding: 20px 20px 20px;
}

.lil p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.mug {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.kim {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    padding: 20px 20px 20px;
}

.kim p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.rec {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.bord {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    padding: 20px 20px 20px;
}

.bord p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.kayo {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none;
}

.border {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
  
}
